#noneTitle {
    padding:0.25em;
}
#catdTitle {
    padding:0.25em;
}
.list-title-bar {
    background-color:$primary;
    width: 100%;
    text-align: center;
    margin: 0em;
    margin-bottom: 1em;
    border-radius: 1em;
    border-width:thin;
    
    &:hover {
        cursor: pointer;
    }

    h2 {
        color: $white;
        vertical-align: middle;
        margin: auto;
        padding:0.25em;
    }
    .list-of-items {
        margin:auto;
        background-color: $white;
        color: $black;
        font-size: 2em;
        border-color: $primary;
        border-style: solid;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

    }
    li {
        text-align: left;
        padding:0.25em 1em;
        .modifyItem {
         float: right;
         margin: 8px 10px; 
         z-index: 100;
        }
        .fa {
            display: inline;
        }
        .fa-minus-square-o:hover {
            color:red;
            font-size: 125%;
        }
        .fa-check-square-o:hover {
            color:green;
            font-size: 125%;
        }
        .fa-edit:hover {
            font-size: 125%;
        }
        .green {
            color: green;
        }
    }
}