header.masthead {
  padding-top: calc(2rem + 72px);
  padding-bottom: 1rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
  #new-item-form {
    #item-input-field {
      background-image: url(../img/notepad_lines.png);
      padding-left: 4em;
      width: 30em;
      height: 10em;
      word-wrap: break-word; 
    }
    .animate {
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
    }
    .action-button {
      position: relative;
      padding: 10px 40px;
      margin: 10px 10px 0px 10px;
      border-radius: 10px;
      font-family: 'Pacifico', cursive;
      font-size: 25px;
      color: #FFF;
      text-decoration: none;	
    }
    .blue{
      border-color: #3498DB;
      background-color: #3498DB;
      border-bottom: 5px solid #2980B9;
      text-shadow: 0px -2px #2980B9;
    }
    .action-button:active {
      transform: translate(0px,5px);
      -webkit-transform: translate(0px,5px);
      border-bottom: 1px solid;
    }
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(2rem + 106px);
    padding-bottom: 1rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }

  }
}
